@charset "UTF-8";

body {
  background-color: #6c87a0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  padding: 0 15px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}

.card-header {
  background-color: #007bff;
  color: white;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-body {
  padding: 20px;
}

form {
  width: 100%;
}

form .mb-3 {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}


.yellow-button {
  background-color: #ffc107; 
  color: #212529;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.yellow-button:hover {
  background-color: #e0a800; 
}

.blue-button {
  background-color: #355de5; 
  color: #212529;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
&:hover {
  background-color: #0137ec; 
	}
}

button[type="submit"] {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Error message */
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  margin: 15px auto;
  max-width: 300px;
}
.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}